<template>
  <TiredStatus
    class="day-tired"
    period="day"
    :tired="tired"
    :maxTiredAcceptable="maxTiredAcceptable"/>
</template>

<script>
import { mapGetters, mapState } from 'vuex'
import TiredStatus from '@/components/indicator/TiredStatus'

export default {
  name: 'DayTiredStatus',
  components: {
    TiredStatus
  },
  props: {
    day: Date
  },
  computed: {
    ...mapGetters('todo', [
      'tiredFromDay'
    ]),
    ...mapState('config', [
      'maxTiredAcceptable'
    ]),
    tired () {
      return this.tiredFromDay(this.day)
    }
  }
}
</script>

<style scoped>
  .day-tired {
    display: block;
    font-size: 0.7em;
    color: blue;
  }
</style>
