<template>
  <div>
    <PlannedEffortDay :day="day"/>
    <SortableList :todos="todos"/>
    <CreateTodo :date="day"/>
    <br>
    <DayTiredStatus :day="day"/>
    <DoneThisDay :day="day"/>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import PlannedEffortDay from '@/components/indicator/PlannedEffortDay'
import SortableList from '@/components/SortableList'
import CreateTodo from '@/components/CreateTodo'
import DoneThisDay from '@/components/date/DoneThisDay'
import DayTiredStatus from './DayTiredStatus'

export default {
  name: 'DayView',
  components: {
    PlannedEffortDay,
    DoneThisDay,
    DayTiredStatus,
    SortableList,
    CreateTodo
  },
  props: {
    day: Date
  },
  computed: {
    ...mapGetters('todo', ['todosFromDate']),
    todos () {
      return this.todosFromDate(this.day).filter(({ done }) => !done)
    }
  }
}
</script>
