<template>
  <div v-show="todos.length > 0">
    <h4>done this day</h4>
    <TodoList :todos="todos"/>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import TodoList from '@/components/TodoList'

export default {
  name: 'DoneThisDay',
  components: {
    TodoList
  },
  props: {
    day: Date
  },
  computed: {
    ...mapGetters('todo', ['doneThisDay']),
    todos () {
      return this.doneThisDay(this.day)
    }
  }
}
</script>

<style scoped>
h4 {
  margin: 0.2em;
}
</style>
