<template>
  <div>
    <nav class="nav-week" ref="nav">
      <a v-for="day in days"
        :class="titleDayClass(day)"
        @click="scrollDay(day)"
        :key="dateKey(day)">
          {{ shortWeekDay(day) }}
        </a>
    </nav>
    <div v-for="day in days"
      :key="dateKey(day)"
      :ref="weekDay(day)">
      <h2 :class="titleDayClass(day)">{{ weekDay(day) }}</h2>
      <h4 :class="titleDayClass(day)">{{ descDay(day) }}</h4>
      <DayView :day="day"/>
    </div>
  </div>
</template>

<script>
import {
  isToday,
  format,
  formatISO
} from 'date-fns'
import DayView from './DayView'

export default {
  name: 'WeekView',
  components: {
    DayView
  },
  props: { days: Array },
  methods: {
    titleDayClass (day) {
      if (isToday(day)) {
        return 'today'
      }
      return ''
    },
    scrollDay (day) {
      const element = this.$refs[this.weekDay(day)][0]
      const nav = this.$refs.nav
      window.scrollTo(0, element.offsetTop - nav.clientHeight)
    },
    weekDay (date) {
      return format(date, 'EEEE')
    },
    shortWeekDay (date) {
      return format(date, 'EEE')
    },
    descDay (date) {
      return format(date, 'dd') + '/' + format(date, 'LLL')
    },
    dateKey (date) {
      return formatISO(date)
    }
  }
}
</script>

<style scoped>
  h2, h4 {
    font-family: Verdana, Geneva, serif;
    text-align: center;
    margin: 0;
  }
  h4 {
    margin-bottom: 0.5em;
  }
  .today {
    color: var(--color-blue);
  }
  .nav-week {
    position: sticky;
    top: 0;
    padding: 0.2em 0;
    font-size: 0.8em;
    text-transform: lowercase;
    background: var(--color-yellow);
    display: flex;
    justify-content: space-between;
  }
  .nav-week a {
    cursor: pointer;
  }
</style>
