<template>
  <div>
    <nav>
      <a @click="previous()">previous</a>
      <a @click="thisWeek()">this week</a>
      <a @click="next()">next</a>
    </nav>
      <WeekView :days="currentDays"/>
  </div>
</template>

<script>
import WeekView from './WeekView.vue'
import { add, sub } from 'date-fns'
import { daysFromWeek } from '@/services/week'

export default {
  name: 'WeekNavigation',
  components: {
    WeekView
  },
  data () {
    return {
      day: new Date()
    }
  },
  computed: {
    currentDays () {
      return daysFromWeek(this.day)
    }
  },
  methods: {
    next () {
      this.day = add(this.day, { weeks: 1 })
    },
    previous () {
      this.day = sub(this.day, { weeks: 1 })
    },
    thisWeek () {
      this.day = new Date()
    }
  }
}
</script>

<style scoped>
nav {
  display: flex;
  justify-content: space-around;
}
a {
  cursor: pointer;
}
</style>
