<template>
  <div>
    <span>Version: {{ version }}</span>
  </div>
</template>

<script>

export default {
  name: 'ConfigInfo',
  data () {
    return {
      version: process.env.PACKAGE_VERSION
    }
  }
}

</script>
