<template>
  <form @submit.prevent="updateConfig(config)">
    <div class="form-control">
      <span>Maximum tired per week:</span>
      <TiredInput :maxInput="250"
        indicatorWidth="7em"
        v-model="config.maxTiredAcceptablePerWeek"/>
    </div>
    <div class="form-control">
      <span>Maximum tired per day:</span>
      <TiredInput :maxInput="50"
        indicatorWidth="4em"
        v-model="config.maxTiredAcceptable"/>
    </div>
    <button type="submit">Save</button>
  </form>
</template>

<script>
import TiredInput from '@/components/todo/TiredInput'
import { mapState, mapActions } from 'vuex'

export default {
  name: 'EditConfig',
  components: {
    TiredInput
  },
  data () {
    return {
      config: {
        maxTiredAcceptablePerWeek: 0,
        maxTiredAcceptable: 0
      }
    }
  },
  mounted () {
    this.config = {
      maxTiredAcceptablePerWeek: this.maxTiredAcceptablePerWeek,
      maxTiredAcceptable: this.maxTiredAcceptable
    }
  },
  computed: {
    ...mapState('config', [
      'maxTiredAcceptablePerWeek',
      'maxTiredAcceptable'
    ])
  },
  methods: {
    ...mapActions('config', [
      'updateConfig'
    ])
  }
}
</script>
