<template>
  <SortableList :todos="allTodos"/>
</template>

<script>
import { mapGetters } from 'vuex'
import SortableList from '../SortableList.vue'

export default {
  name: 'AllTodos',
  components: {
    SortableList
  },
  computed: {
    ...mapGetters('todo', ['allTodos'])
  }
}
</script>
