<template>
  <div class="page">
    <EditConfig/>
    <ConfigInfo/>
  </div>
</template>

<script>
import EditConfig from '@/components/config/EditConfig.vue'
import ConfigInfo from '@/components/config/ConfigInfo.vue'

export default {
  name: 'Config',
  components: {
    ConfigInfo,
    EditConfig
  }
}
</script>

<style scoped>
  .page {
    max-width: 28em;
  }

  .page > div {
    margin-top: 1em;
  }
</style>
