<template>
  <div class="page-box">
    <WeekNavigation />
  </div>
</template>

<script>
import WeekNavigation from '../date/WeekNavigation.vue'

export default {
  name: 'Home',
  props: { days: String },
  components: {
    WeekNavigation
  }

}
</script>
