<template>
  <SortableList :todos="todosNoDueDate"/>
</template>

<script>
import { mapGetters } from 'vuex'
import SortableList from '../SortableList.vue'

export default {
  name: 'NoDueDate',
  components: {
    SortableList
  },
  computed: {
    ...mapGetters('todo', ['todosNoDueDate'])
  }
}
</script>
