<template>
  <DayView :day="today"/>
</template>

<script>
import DayView from '@/components/date/DayView.vue'

export default {
  name: 'Today',
  components: {
    DayView
  },
  data () {
    return { today: new Date() }
  }
}
</script>
