<template>
  <span v-if="tooMuch">
    You've planned <TiringIndicator :tiring="effort"/> and it's too much for this {{ period }}
  </span>
</template>

<script>
import TiringIndicator from './TiringIndicator'
import { mapActions } from 'vuex'

export default {
  name: 'PlannedEffort',
  components: {
    TiringIndicator
  },
  props: {
    period: String,
    effort: Number,
    maxEffort: Number
  },
  computed: {
    tooMuch () {
      return this.effort > this.maxEffort
    }
  },
  methods: {
    ...mapActions('toast', ['showMessage'])
  },
  watch: {
    effort (newValue, oldValue) {
      if (this.tooMuch && newValue > oldValue) {
        console.log('hiii')
        this.showMessage(`Planned too much for the ${this.period}`)
      }
    }
  }
}
</script>

<style scoped>
span {
  display: block;
  background: var(--color-purple);
  font-size: 0.8em;
}
</style>
