<template>
  <PlannedEffort
    :period="'day'"
    :effort="effort"
    :maxEffort="maxTiredAcceptable"/>
</template>

<script>
import PlannedEffort from './PlannedEffort'
import { mapGetters, mapState } from 'vuex'

export default {
  name: 'PlannedEffortDay',
  components: {
    PlannedEffort
  },
  props: {
    day: Date
  },
  computed: {
    ...mapState('config', [
      'maxTiredAcceptable'
    ]),
    ...mapGetters('todo', [
      'plannedThisDay'
    ]),
    effort () {
      return this.plannedThisDay(this.day)
    }
  }
}
</script>
