<template>
  <span class="tired-status">
    This {{ period }}
    <span v-if="tired > 0">
      you've done
      <TiringIndicator class="indicator" :tiring="tired"/>
    </span>
    <span v-else>you've done nothing so far</span>
    and
    <span v-if="maxArrived">
      you should
      <span class="final-part">stop 🙄</span>
    </span>
    <span v-else>
      it's
      <span class="final-part">okay 😌</span>
    </span>
  </span>
</template>

<script>
import TiringIndicator from './TiringIndicator'

export default {
  name: 'TiredStatus',
  components: {
    TiringIndicator
  },
  props: {
    period: String,
    tired: Number,
    maxTiredAcceptable: Number
  },
  computed: {
    maxArrived () {
      return this.tired >= this.maxTiredAcceptable
    }
  }
}
</script>

<style scoped>
  .tired-status {
    align-items: center;
  }
  .indicator {
    font-size: 1.3em;
  }
  .final-part {
    white-space: nowrap;
  }
</style>
