<template>
  <span class="container">
    <span class="skull-emojis">{{ repeat(skulls, '💀') }}</span>
    <span class="tired-emojis">{{ repeat(tireds, '😫') }}</span>
    <span class="sweat-emojis">{{ repeat(sweats, '😓') }}</span>
  </span>
</template>

<script>

export default {
  name: 'TiringIndicator',
  props: {
    tiring: Number
  },
  computed: {
    skulls () {
      return Math.floor(this.tiring / 50)
    },
    remainderFromSkulls () {
      return this.tiring % 50
    },
    tireds () {
      return Math.floor(this.remainderFromSkulls / 5)
    },
    sweats () {
      return this.remainderFromSkulls % 5
    }
  },
  methods: {
    repeat (n, str) {
      return Array(1 + n).join(str)
    }
  }
}
</script>

<style scoped>
.container {
  display: inline-flex;
  height: 2em;
  text-align: center;
  justify-content: center;
  align-items: baseline;
}
.skull-emojis {
  font-size: 1.3em;
}
.tired-emojis {
  font-size: 0.8em;
}
.sweat-emojis {
  font-size: 0.6em;
}
</style>
