<template>
  <div class="week-status">
    <TiredStatus
      period="week"
      :tired="tiredThisWeek"
      :maxTiredAcceptable="maxTiredAcceptablePerWeek"/>
  </div>
</template>

<script>
import { mapGetters, mapState } from 'vuex'
import TiredStatus from './TiredStatus'

export default {
  name: 'WeekTiredStatus',
  components: {
    TiredStatus
  },
  computed: {
    ...mapGetters('todo', [
      'tiredThisWeek'
    ]),
    ...mapState('config', [
      'maxTiredAcceptablePerWeek'
    ]),
    maxArrived () {
      return this.tiredThisWeek >= this.maxTiredAcceptablePerWeek
    }
  }
}
</script>

<style scoped>
  .week-status {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--height-bottom-fixed);
    background: var(--color-grey);
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4em;
    box-sizing: border-box;
    font-size: 0.8em;
  }
</style>
