<template>
  <transition v-if="show" name="fade">
    <div class="toast">{{ message }}</div>
  </transition>
</template>

<script>
import { mapState } from 'vuex'
export default {
  name: 'Toast',
  computed: {
    ...mapState('toast', [
      'show',
      'message'
    ])
  }
}
</script>

<style scoped>
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.25s ease-out;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.toast {
  background: var(--color-grey);
  color: var(--color-white);
  padding: 0.5em;
  text-align: center;
  position: fixed;
  top: 1.2em;
  left: 1.2em;
}
</style>
