<template>
  <form @submit.prevent="updateTodo(value)">
    <input class="task-name form-control"
      type="text"
      v-model="value.taskName"
      placeholder="task">
    <input class="form-control"
      v-show="!hideDate"
      type="date"
      v-model="value.date"
      placeholder="date">
    <TiredInput class="form-control" v-model="value.tiring"/>
    <button type="submit">Done</button>
  </form>
</template>

<script>
import TiredInput from './TiredInput'

export default {
  name: 'InputTodo',
  components: {
    TiredInput
  },
  props: {
    hideDate: {
      type: Boolean,
      default: false
    },
    value: {}
  },
  model: {
    prop: 'value',
    event: 'input'
  },
  methods: {
    updateTodo () {
      this.$emit('input', this.value)
    }
  }
}
</script>

<style scoped>
  .task-name {
    width: 15em;
    margin-right: auto;
  }
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
  }
  .form-control {
    margin-bottom: 0.5em;
  }
</style>
