<template>
  <span class="tired-input" >
    <TiringIndicator :tiring="value"
      v-bind:style="{ width: indicatorWidth }"/>
    <button type="button" @click="decreaseTiredIndicator">➖</button>
    <button type="button" @click="increaseTiredIndicator">➕</button>
  </span>
</template>

<script>
import { mapState } from 'vuex'
import TiringIndicator from '@/components/indicator/TiringIndicator'

export default {
  name: 'TiredInput',
  components: {
    TiringIndicator
  },
  props: {
    maxInput: {
      required: false,
      type: Number
    },
    indicatorWidth: {
      type: String,
      default: '2em'
    },
    value: Number
  },
  model: {
    prop: 'value',
    event: 'input'
  },
  computed: {
    ...mapState('config', {
      maxTiredAcceptable: state => state.maxTiredAcceptable
    }),
    max () {
      return this.maxInput ?? this.maxTiredAcceptable
    },
    ammountToChange () {
      if (this.value >= 150) return 50
      if (this.value >= 120) return 30
      if (this.value >= 90) return 10
      if (this.value >= 60) return 5
      return 1
    }
  },
  methods: {
    increaseTiredIndicator () {
      const newValue = this.value + this.ammountToChange
      if (newValue <= this.max) {
        this.$emit('input', newValue)
      }
    },
    decreaseTiredIndicator () {
      const newValue = this.value - this.ammountToChange
      if (newValue >= 1) {
        this.$emit('input', newValue)
      }
    }
  }
}
</script>

<style scoped>
  .tired-input {
    display: inline-flex;
    min-width: 6.5em;
  }
  button {
    width: var(--button-size);
    height: var(--button-size);
  }
</style>
