<template>
  <div class="todo">
    <button class="tick-todo" @click="tickTodo(todo)">{{tickInfo}}</button>
    <span class="task-name">{{ todo.taskName }}</span>
    <TiringIndicator class="indicator" :tiring="todo.tiring"/>
    <button class="remove-todo" @click="removeTodo(todo)">🗑</button>
  </div>
</template>

<script>
import {
  mapGetters,
  mapActions
} from 'vuex'
import TiringIndicator from '@/components/indicator/TiringIndicator'

export default {
  name: 'TiredTodo',
  components: {
    TiringIndicator
  },
  props: {
    todoId: String
  },
  computed: {
    ...mapGetters('todo', [
      'getTodoById'
    ]),
    todo () {
      return this.getTodoById(this.todoId)
    },
    tickInfo () {
      if (this.todo.done) return '✅'
      return '⭕'
    }
  },
  methods: {
    ...mapActions('todo', [
      'tickTodo',
      'removeTodo'
    ])
  }
}
</script>

<style scoped>
  .todo {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-size: 0.8em;
    max-width: 480px;
  }
  .task-name {
    display: inline-flex;
    margin-right: auto;
    width: 13em;
  }
  .indicator {
    width: 2em;
  }
  .remove-todo {
    margin-left: 0.5em;
    font-size: 0.6em;
    height: var(--button-size);
  }
  .tick-todo {
    margin-right: auto;
    width: var(--button-size);
    height: var(--button-size);
  }
</style>
