<template>
  <div>
    <InputTodo :value="todo" @input="createTodo" :hideDate="!!date"/>
  </div>
</template>

<script>
import {
  mapActions
} from 'vuex'
import { format } from 'date-fns'
import InputTodo from './todo/InputTodo'

export default {
  name: 'CreateTodo',
  components: {
    InputTodo
  },
  props: {
    date: {
      type: Date,
      required: false
    }
  },
  data () {
    const date = this.date && format(this.date, 'yyyy-MM-dd')
    const emptyTodo = {
      tiring: 1,
      taskName: '',
      ...(date && { date })
    }
    return {
      emptyTodo,
      todo: { ...emptyTodo }
    }
  },
  methods: {
    ...mapActions('todo', [
      'newTodo'
    ]),
    createTodo () {
      this.newTodo(this.todo)
      this.todo = { ...this.emptyTodo }
    }
  }
}
</script>
