<template>
  <div @focus="setEditable(true)"
    @focusout="focusOutHandle"
    @keyup.esc="$emit('focusout')"
    ref="focusableElement"
    tabindex="0">
    <InputTodo v-if="editable"
      v-model="todoModel"
      @input="updateTodoHandle"/>
    <TiredTodo v-else
      :todoId="todoId"/>
  </div>
</template>

<script>
import {
  mapGetters,
  mapActions
} from 'vuex'
import InputTodo from './todo/InputTodo'
import TiredTodo from './todo/TiredTodo'

export default {
  name: 'EditableTodo',
  components: {
    TiredTodo,
    InputTodo
  },
  props: {
    todoId: String
  },
  data () {
    return {
      todoModel: {},
      editable: false
    }
  },
  computed: {
    ...mapGetters('todo', [
      'getTodoById'
    ]),
    todo () {
      return this.getTodoById(this.todoId)
    }
  },
  mounted () {
    this.todoModel = { ...this.todo }
  },
  methods: {
    ...mapActions('todo', [
      'updateTodo'
    ]),
    updateTodoHandle () {
      this.updateTodo(this.todoModel)
      this.$refs.focusableElement.dispatchEvent(new Event('focusout'))
    },
    focusOutHandle ({ currentTarget, relatedTarget }) {
      if (!currentTarget.contains(relatedTarget)) {
        this.editable = false
        this.updateTodo(this.todoModel)
      }
    },
    setEditable (value) {
      this.editable = value
    }
  }
}
</script>
