<template>
  <footer>
    <p>Made with 💛 with <a href="http://vuejs.org/">vue.js</a> and it's
    <a href="https://gitlab.com/wtfgraciano/tired-todo">open source</a>.
     You can also check the creator's <a href="https://graciano.me">site</a> </p>
  </footer>
</template>

<style scoped>
  footer {
    padding: 1em;
    background: linear-gradient(transparent, var(--color-pink),
      var(--color-blue));
    text-align: center;
    box-sizing: border-box;
  }
  p {
    font-size: 0.8em;
    max-width: 38em;
    margin: 1em auto;
  }
</style>
