<template>
  <header>
    <h1>😫 to do 😫</h1>
    <p>
      This is a todo list to stop you from wanting to be productive
      all the time. Go get some rest. Fuck productivity ideology.
      Sleep when they're working.
    </p>
  </header>
</template>

<style scoped>
  header {
    padding: 1em;
    background: linear-gradient(var(--color-pink),
      var(--color-blue) 70%,
      transparent 90%);
    text-align: center;
  }
  h1 {
    font-family: Verdana, Geneva, serif;
    margin: 0;
  }
  p {
    font-size: 0.8em;
    max-width: 38em;
    margin: 1em auto;
  }
</style>
