<template>
  <nav>
    <ul>
      <li>
        <router-link to="/" exact>Home</router-link>
      </li>
      <li>
        <router-link to="/today">Today</router-link>
      </li>
      <li>
        <router-link to="/all">All todos</router-link>
      </li>
      <li>
        <router-link to="/no-due">No due date</router-link>
      </li>
      <li>
        <router-link to="/config">Config</router-link>
      </li>
    </ul>
  </nav>
</template>

<style scoped>
nav {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  font-size: 0.8em;
}

ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
li {
  list-style: none;
  min-width: 4em;
}

.router-link-active {
  text-decoration: underline;
}
</style>
