<template>
  <section>
    <h5>New todo:</h5>
    <CreateTodo />
  </section>
</template>

<script>
import CreateTodo from './CreateTodo.vue'
export default {
  name: 'NewTodo',
  components: { CreateTodo }
}
</script>

<style scoped>
section {
  padding: 2em;
  margin: 0 auto;
  max-width: 600px;
}
</style>
