<template>
  <div>
    <span v-if="empty">Nothing to do here 😌</span>
    <div v-else>
      <span class="order">
        <button class="default" @click="toggleOrder('default')">
          default
        </button>
        <button class="by-effort" @click="toggleOrder('effort')">
          by effort
        </button>
        <button class="by-date"
          @click="toggleOrder('date')"
          v-show="showOrderDate">
          by date
        </button>
      </span>
      <TodoList :todos="sortedTodos"/>
    </div>
  </div>
</template>

<script>
import TodoList from './TodoList.vue'

const sortFn = {
  default: () => 0,
  effort: (a, b) => a.tiring - b.tiring,
  date: (a, b) => a.date ? a.date.localeCompare(b.date) : 1
}

export default {
  name: 'SortableList',
  components: {
    TodoList
  },
  props: {
    todos: Array
  },
  data () {
    return {
      desc: false,
      possibleOrders: Object.keys(sortFn),
      order: 'default'
    }
  },
  computed: {
    sortedTodos () {
      const todos = [...this.todos].sort(sortFn[this.order])
      if (this.desc) todos.reverse()
      return todos
    },
    showOrderDate () {
      const { date } = this.todos[0]
      return this.todos.find(todo => todo.date !== date)
    },
    empty () {
      return !this.todos || this.todos.length === 0
    }
  },
  methods: {
    toggleOrder (newOrder) {
      if (this.order === newOrder) {
        this.desc = !this.desc
      }
      this.order = newOrder
    }
  }
}
</script>
