<template>
  <ul>
    <li v-for="todo in todos" :key="todo.id">
      <EditableTodo :todoId="todo.id"/>
    </li>
  </ul>
</template>

<script>
import EditableTodo from './EditableTodo.vue'

export default {
  name: 'TodoList',
  components: {
    EditableTodo
  },
  props: {
    todos: Array
  }
}
</script>

<style scoped>
  ul {
    padding: 0;
  }
  li {
    list-style: none;
    margin-bottom: 1em;
  }
</style>
