<template>
  <div id="app">
    <Header/>
    <NewTodo/>
    <Navigation/>
    <router-view class="page"></router-view>
    <Footer/>
    <Toast/>
    <WeekTiredStatus/>
  </div>
</template>

<script>
import Header from './components/Header.vue'
import NewTodo from './components/NewTodo.vue'
import Footer from './components/Footer.vue'
import Toast from './components/misc/Toast.vue'
import WeekTiredStatus from './components/indicator/WeekTiredStatus.vue'
import Navigation from './components/Navigation.vue'

export default {
  name: 'App',
  components: {
    Header,
    NewTodo,
    Navigation,
    Footer,
    Toast,
    WeekTiredStatus
  }
}
</script>

<style>
body {
  --color-grey: #1d1d1d;
  --color-pink: #ff71ce;
  --color-blue: #01cdfe;
  --color-green: #05ffa1;
  --color-purple: #b967ff;
  --color-yellow: #fffb96;
  --color-white: #fff;
  --height-bottom-fixed: 120px;
  --button-size: 2.5em;
  margin: 0;
  font-size: 24px;
}
/* some windows 98 css */
button {
  background: white;
  border-bottom: 3px solid blue;
}

input {
  border-left: solid 1px silver;
  border-top: solid 1px silver;
  border-bottom: solid 3px #555;
  border-right: solid 3px #555;
}

a,
a:visited  {
  color: blue;
  text-decoration: none;
}
a:hover,
a:hover:visited {
  color: var(--color-white);
  background: blue;
}

#app {
  font-family: "Lucida Console", Monaco, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-grey);
  margin-bottom: var(--height-bottom-fixed);
}
.page {
  box-sizing: border-box;
  padding: 0.8em;
  max-width: 22em;
  margin: 0 auto;
}
</style>
